##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.ctxt
hs_err_pid*

# Log file
*.log

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


